@font-face {
    font-family: 'Trueno';
    font-style: normal;
    font-weight: 400;
    src: local('Trueno Regular'), url('../fonts/TruenoRg.woff') format('woff');
}

@font-face {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans'), url('../fonts/FiraSans-Regular.ttf') format('ttf');
}
    

:root {
    --bs-body-font-family: "Fira Sans", sans-serif;
    --heading-font-family: 'Marker Felt', fantasy;
    --navbar-font-family: "Trueno", sans-serif;
    --bs-body-font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
}

.navbar {
    background-color: rgb(127, 183, 143);
}

.navbar a {
    font-family: var(--navbar-font-family);
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-weight: 400;
    text-decoration: underline;
}

header {
    align-items: center;
    font-family: var(--heading-font-family);
}

.home-img {
    max-width: 100%;
    width: 600px;
    margin-top: 4px;
}

.btn {
    background-color: rgb(125, 197, 133);
}

.mission {
    max-width: 700px;
}

.home-body {
    background-color: blanchedalmond;
    align-items: center;
    text-align: center;
}

.classrooms-body {
    background-color: rgb(224, 205, 216);
}

.welcome-body {
    background-color: rgb(207, 178, 178);
}

.accordion-body {
    background-color: beige;
}

.steam-body {
    background-color: rgb(242, 219, 186);
}

.preschool-body {
    background-color: rgb(216, 193, 157);
}

.school-body {
    background-color: rgb(224, 205, 216);
}

.potty-body {
    background-color: rgb(207, 178, 178);
}

.contact-body {
    background-color: rgb(216, 193, 157);
}

.max-md {
    max-width: 768px
}

.accordion-button:not(.collapsed) {
    background-color: beige !important;
    color: rgb(88, 54, 54) !important;
    
}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active {
    background-color: beige !important;
    color: rgb(88, 54, 54) !important;
    text-decoration: none !important;
    border-color: rgb(59, 32, 32) !important;
    box-shadow: 0px !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: rgb(59, 32, 32) !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(59, 32, 32) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(180deg);
}


.class-img {
    max-width: 100%;
    width: 450px;
    margin-top: 4px;
}

.preschool-img {
    max-width: 400px;
    max-height: 200px;
}

.school-img {
    max-width: 600px;
    max-height: 300px;
}