@font-face {
    font-family: 'Trueno';
    font-style: normal;
    font-weight: 400;
    src: local('Trueno Regular'), url('../fonts/TruenoRg.woff') format('woff');
}

:root {
    --th-color-green: #8ab885;
    --th-color-eggshell: #fcefd5;
    --th-color-gray: #3b3d34;
    --th-color-beige: #e2cfb8;

    --heading-font-family: 'Marker Felt', fantasy;
    --navbar-font-family: "Trueno", sans-serif;

    --bs-body-font-family: "Fira Sans", sans-serif;
    --bs-body-font-weight: 400;
    --bs-body-color: var(--th-color-gray);
    --bs-primary: var(--th-color-green);
    --bs-primary-rgb: 138, 184, 133;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
}

.navbar {
    background-color: var(--th-color-green);
}

.navbar a {
    font-family: var(--navbar-font-family);
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-weight: 400;
}

.navbar a:hover {
    text-decoration: underline;
}

header {
    align-items: center;
    font-family: var(--heading-font-family);
}

.home-img {
    max-width: 100%;
    width: 600px;
    margin-top: 4px;
}

.btn {
    background-color: rgb(125, 197, 133);
}

.mission {
    max-width: 700px;
}

.bg-green {
    background-color: var(--th-color-green) !important;
}

.bg-eggshell {
    background-color: var(--th-color-eggshell) !important;
}

.bg-beige {
    background-color: var(--th-color-beige) !important;
}

.home-body {
    background-color: #f6e1b5;
    align-items: center;
    text-align: center;
}

.classrooms-body {
    background-color: #e5d8bf;
}

.welcome-body {
    background-color: #c7b198;
}


.steam-body {
    background-color: #f6e1b5;
}

.preschool-body {
    background-color: #c7b198;
}

.school-body {
    background-color: #e5d8bf;
}

.contact-body {
    background-color: #f6e1b5;
}

.max-md {
    max-width: 768px
}

/* .accordion-welcome {
    --bs-accordion-bg: beige !important;
    color:rgb(88, 54, 54) !important;
    --bs-accordion-border-color: rgb(59, 32, 32);
    --bs-accordion-active-bg: beige !important;
    --bs-accordion-active-color: rgb(88, 54, 54) !important;
    --bs-accordion-btn-focus-box-shadow: beige !important;
    --bs-accordion-btn-focus-border-color: rgb(59, 32, 32) !important;
}

.accordion-button collapsed:not(.collapsed) {
    color: rgb(88, 54, 54);
    background-color: beige;
}

.accordion-button collapsed:focus {
    border-color:rgb(88, 54, 54) !important;
    box-shadow: beige !important;
    color: rgb(88, 54, 54) !important;
    background-color: beige !important;
} */

.class-img {
    max-width: 100%;
    width: 450px;
    margin-top: 4px;
}

.preschool-img {
    max-width: 400px;
    max-height: 200px;
}

.school-img {
    max-width: 100%;
    max-height: auto;
    width: 500px;
}

h1 {
    text-transform: uppercase;
}

h1::before,
h1::after {
    content: "-";
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

p {
    margin: 1.5rem 0;
}

.start-initial {
    left: initial !important;
}

.rte img {
    max-width: 100%;
}

.rte ul {
    /* the same as Bootstrap unstyled-list */
    padding-left: 0;
    list-style: none;
}

.site-logo {
    filter: brightness(0);
}

.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: #6f936b;
    --bs-accordion-border-color: white;
    --bs-accordion-btn-color: white;
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-focus-border-color: #4f6b4c;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(58, 110, 52, 0.25);
    --bs-accordion-active-color: white;
    --bs-accordion-active-bg: rgb(111, 147, 107);
}

.accordion-body {
    background-color: #97846d;
    color: white;
}
