@font-face {
    font-family: 'Trueno';
    font-style: normal;
    font-weight: 400;
    src: local('Trueno Regular'), url('../fonts/TruenoRg.woff') format('woff');
}

:root {
    --th-color-green: #8ab885;
    --th-color-eggshell: #fcefd5;
    --th-color-gray: #3b3d34;
    --th-color-beige: #e2cfb8;

    --heading-font-family: 'Marker Felt', fantasy;
    --navbar-font-family: "Trueno", sans-serif;

    --bs-body-font-family: "Fira Sans", sans-serif;
    --bs-body-font-weight: 400;
    --bs-body-color: var(--th-color-gray);
    --bs-primary: var(--th-color-green);
    --bs-primary-rgb: 138, 184, 133;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    text-align: center;
    align-items: center;
}

.navbar {
    background-color: var(--th-color-green);
}

.navbar a {
    font-family: var(--navbar-font-family);
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-weight: 400;
}

.navbar a:hover {
    text-decoration: underline;
}

header {
    align-items: center;
    font-family: var(--heading-font-family);
}

.home-img {
    max-width: 100%;
    width: 600px;
    margin-top: 4px;
}

.btn {
    background-color: rgb(125, 197, 133);
}

.bg-green {
    background-color: var(--th-color-green) !important;
}

.bg-eggshell {
    background-color: var(--th-color-eggshell) !important;
}

.bg-beige {
    background-color: var(--th-color-beige) !important;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: calc(1.375rem + 0.5vw);
}

h1::before,
h1::after {
    content: "-";
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

p {
    margin: 1.5rem 0;
    font-size: calc(0.95rem + 0.25vw);
}

ul {
    font-size: calc(0.95rem + 0.25vw);
}

.start-initial {
    left: initial !important;
}

.rte img {
    max-width: 100%;
}

.rte ul {
    /* the same as Bootstrap unstyled-list */
    padding-left: 0;
    list-style: none;
}

.site-logo {
    filter: brightness(0);
}

.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: #6f936b;
    --bs-accordion-border-color: white;
    --bs-accordion-btn-color: white;
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-focus-border-color: #4f6b4c;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(58, 110, 52, 0.25);
    --bs-accordion-active-color: white;
    --bs-accordion-active-bg: rgb(111, 147, 107);
}

.accordion-flush .accordion-item {
    box-shadow: 5px 6px 0 0 var(--th-color-gray);
}

.accordion-body {
    background-color: #97846d;
    color: white;
}

.site-main {
    min-height: 90vh;
}

.navbar-brand {
    max-width: 200px;
}

@media (min-width: 992px) and (min-width: 380px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: clamp(0.75rem, 1vw, 1rem);
    }
}

.stema-edu {
    letter-spacing: 1.1em;
}
