{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width,
    initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="font-family-base">
    <header class="site-header" role="banner">
        <nav class="navbar navbar-expand-lg justify-content-lg-between">
            <div class="container justify-content-lg-between">
                    <a class="navbar-brand lead text-primary d-inline-block py-3" href="{% url 'home' %}">
                        <img class="img-fluid img-limit-height site-logo" src="{% static 'img/vcc-logo.png' %}" alt="The Village Childcare Center Logo" width="300" height="200">
                    </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarToggler">
                    <div class="navbar-nav text-center">
                        <a href="{% url 'welcome' %}" class="nav-link link-dark">
                                Our Philosophy
                        </a>
                        <a href="{% url 'classrooms'%}" class="nav-link link-dark">
                                Classrooms
                        </a>
                        <a href="{% url 'steam'%}" class="nav-link link-dark">
                                S.T.E.A.M.
                        </a>
                        <a href="{% url 'preschool'%}" class="nav-link link-dark">
                                Preschool
                        </a>
                        <a href="{% url 'school_age'%}" class="nav-link link-dark">
                                School Age
                        </a>
                        <a href="{% url 'contact'%}" class="nav-link link-dark">
                                Contact
                        </a>
                        {% if user.is_staff %}
                        <div class="d-flex d-lg-none justify-content-center align-items-center">
                            <a class="nav-link link-dark" href="{% url 'admin:index' %}">
                                Admin
                            </a>
                            <span class="mx-1 border-end border-2 border-dark nav-link link-dark"></span>
                            <a class="nav-link link-dark" href="{% url 'logout' %}">
                                Log Out
                            </a>
                            <span class="mx-1 border-end border-2 border-dark nav-link link-dark"></span>
                            <a class="nav-link link-dark" href="{% url 'password_change' %}">
                                Password
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% if user.is_staff %}
                        <div class="dropdown d-none d-lg-block justify-content-lg-start ms-auto">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle"></i>
                            </a>
                            <ul class="dropdown-menu text-small start-initial" aria-labelledby="dropdownUser1">
                                <li>
                                    <a class="dropdown-item" href="{% url 'admin:index' %}">
                                        Admin
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'password_change' %}">
                                        Password
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'logout' %}">
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </header>

        <main class="site-main bg-eggshell" role="main">

            {% block heading %}
            {% endblock heading %}

            {% block content %}
            {% endblock content %}

        </main>

        <!-- JQuery JS Bundle -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
        </script>
        <!-- Bootstrap JS Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
        </script>
        {% comment %} <script src="{% static 'js/base.js'%}"> {% endcomment %}
        </script>

    </body>
</html>
