{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div class="template-home">
    <div class="container py-5">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-auto text-center pb-4">
                {% heading title=page.title default="Now Enrolling for 2023 + 2024!" %}
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-start">
            <div class="col-12 col-md-6 py-3">
                <div class="rte">
                    {% if page.content %}
                        {{ page.content | safe }}
                    {% else %}
                        <h3>
                            Our Mission
                        </h3>
                        <p>
                            Our mission is to provide child-centered care focused on fostering children's creativity, educational development, and independence. We provide a resource-rich, inclusive environment that allows each child to develop at his/her own pace. Our classrooms are designed to give children room to grow and express themselves in a safe space.
                        </p>
                        <img src="{% static 'img/wander.jpeg' %}" class="pt-3"/>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="rte py-3">
                    {% if page.content_secondary %}
                        {{ page.content_secondary | safe }}
                    {% else %}
                    <h3>
                        Learn more about our...
                    <p>
                        <i class="bi bi-rainbow"></i>
                        <a href="{% url 'classrooms' %}">
                            Classrooms
                        </a>
                        <br>
                        <i class="bi bi-boxes"></i>
                        <a href="{% url 'preschool' %}">
                            Preschool Program
                        </a>
                        <br>
                        <i class="bi bi-shop"></i>
                        <a href="{% url 'school_age' %}">
                            School Age Programs
                        </a>
                        <br>
                        <i class="bi bi-palette-fill"></i>
                        <a href="{% url 'steam' %}">
                            S.T.E.A.M. Room
                        </a>
                    </p>
                    {% endif %}
                    <div class="justify-content-md-start pt-3">
                        <h5 class="text-start pb-3">
                            Request more information below or visit our <a href ="{% url 'contact'%}">contact page</a> to schedule a tour.
                        </h5>
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
