{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="template-home text-center">
    <div class="container py-5">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-auto text-center">
                {% spaceless %}
                    <h1 class="mb-4">
                        {% if page.title %}
                            <span>{{ page.title | safe }}</span>
                        {% else %}
                            <span>Opening Spring 2023</span>
                        {% endif %}
                    </h1>
                {% endspaceless %}
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 pb-2">
                <div class="container fs-4 rte">
                    {% if page.content %}
                        {{ page.content | safe }}
                    {% else %}
                        <p>
                            Our mission is to provide child-centered care focused on fostering children's creativity, educational development,
                            and independence. We provide a resource-rich, inclusive environment that allows each child to develop at his/her own pace.
                            Our classrooms are designed to give children room to grow and express themselves in a safe space.
                        </p>
                        <img src="{% static 'img/wander.jpeg' %}" />
                    {% endif %}
                </div>
            </div>
        </div>
        <section class="pt-3">
            <form action="{% url 'subscribe' %}" method="post">
                <div class="row d-flex justify-content-md-center">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="col-12 col-md-auto mt-3 mt-md-0">
                        <input id="name" name="name" class="form-control" placeholder="Jane Doe"/>
                    </div>
                    <div class="col-12 col-md-auto mt-3 mt-md-0">
                        <input id="email" name="email" class="form-control" placeholder="example@email.com"/>
                    </div>
                    <div class="col-12 col-md-auto mt-3 mt-md-0">
                        <button type="submit" class="btn">
                            Signup
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


{% endblock content %}
