{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="potty-body">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1 class="text-center py-3">
                    - POTTY TRAINING PHILOSOPHY -
                </h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-8 pb-2">
                <div class="container">
                    <p class="fs-5">
                        The Village faculty is eager to share in the process of potty training. Our official potty training age is 24-36 months. 
                        At this age our classroom faculty works diligently with the children to promote using the toilet. We do realize that some 
                        children begin training at younger ages. In these cases, our faculty will work with your child on a more individual basis 
                        to reinforce procedures that you are using at home.
                        <br>
                        <br>
                        Your child may be ready for potty training if:
                    </p>
                    <ol class="fs-5">
                        <li>
                            They have a dry diaper for two hours or more.
                        </li>
                        <li>
                            They have a dry diaper after naptime.
                        </li>
                        <li>
                            They tell you when their diaper needs to be changed.
                        </li>
                        <li>
                            They tell you when they are urinating or making a bowel movement in their diaper.
                        </li>
                        <li>
                            They show an interest or curiosity in using the toilet.
                        </li>
                    </ol>
                    <p class="fs-5">
                        As your child is beginning to potty train, we suggest heavy cotton training pants or rubber pants which may be more 
                        effective than pull-ups. Rubber pants keep their clothes dry. Cotton pants may leave your child feeling a bit uncomfortable 
                        so that they will quickly learn to relieve themselves using the toilet. Pull-ups are most effective AFTER the child has shown 
                        that they are dry most of the time or at bedtime.
                        <br>
                        <br>
                        Please remind your child to go to the potty at home. When he or she is successful, use positive reinforcement. 
                        <br>
                        <br>
                        It is not recommended that your child be allowed to wear underpants over diapers or pull-ups. This defeats the purpose of them 
                        and removes the incentive for your child to wear underwear. Lastly, it is important to be consistent in whichever method you choose to use.
                    </p>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-12">
                <form action="{% url 'subscribe' %}" method="post">
                    <div class="row justify-content-md-center">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="col-md-auto mt-3 mt-md-0">
                            <input id="name" name="name" class="form-control" placeholder="Jane Doe"/>
                        </div>
                        <div class="col-md-auto mt-3 mt-md-0">
                            <input id="email" name="email" class="form-control" placeholder="example@email.com"/>
                        </div>
                        <br>
                        <br>
                        <div class="col-12 col-md-auto mt-3 mt-md-0">
                            <button type="submit" class="btn">
                                Signup
                            </button>
                        </div>
                    </div>
                </form>
                <footer class="footer d-flex pt-3 justify-content-md-center">
                    <div class="mx-2">
                        <span class="text-muted">
                            <a href="#">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

{% endblock content %}