{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div class="template-preschool">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 mb-4">
                {% heading title=page.title default='Now Enrolling for Fall 2023!' %}
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10">
                <section id="preschool" class="rte">
                    {% if page.content %}
                        {{ page.content | safe }}
                    {% else %}
                        <p>
                            Our Preschool Program is an optional program as well as open to the public. In our preschool program, our teachers will introduce highscope curriculum.
                        </p>
                        <p>
                            <strong>Highscope curriculum</strong> offers additional resources designed to support daily learning. This includes strategies to individualize learning throughout the daily routine and activities for building children's literacy skills and music to support learning. These resources are the first step in creating and engaging a rich learning environment that encourages young children to learn through exploration. Combined with diverse, open-ended materials that reflect children's home, language, and culture to provide an optimal learning environment that truly aligns with active learning.
                        </p>
                        <p>
                            Our 4-year-olds will have the opportunity to use the STEAM classroom from 8-12 Monday, Wednesday, and Thursday. During this time, students will follow the SCOPE curriculum. This program is also available to the public. The Village Childcare center will go in-depth with the following:
                        </p>
                        <p>
                            <strong>Nature and Science:</strong> to comprehend the physical and natural world through observation, description, prediction, and data gathering.
                        </p>
                        <p>
                            <strong>Early Math:</strong> learning about numbers, patterns, sorting, and ordering; to utilize numbers to add, subtract, measure, and graph.
                        </p>
                        <p>
                            <strong>Logic and Reasoning:</strong> practicing sequencing, problem-solving, and critical thinking.
                        </p>
                        <p>
                            Learn more about the Highscope curriculum: <a href="https://{{ highscope.org }}">here</a>.
                        </p>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
