{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="preschool-body">
    <div class="container py-5">
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-md-auto">
                {% spaceless %}
                    <h1 class="text-center">
                        {% if page.title %}
                            <span>{{ page.title | safe }}</span>
                        {% else %}
                            <span>Coming Fall 2023</span>
                        {% endif %}
                    </h1>
                {% endspaceless %}
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10">
                <section id="preschool" class="fs-5">
                    {% if page.content %}
                        {{ page.content | safe }}
                    {% else %}
                        <p>
                            Our Preschool Program is an optional program as well as open to the public.
                            In our preschool program our teachers will introduce interscope curriculum.
                        </p>
                        <p>
                            <strong>Interscope curriculum</strong> offers additional resources designed to support daily learning. Includes
                            strategies to individualize learning throughout the daily routine and
                            activities for building children's literacy skills and music to support
                            learning. These resources are a first step in creating and engaging the rich
                            learning environment that encourages young children to learn through exploration.
                            Combined with diverse, open-ended materials that reflect children's home, language,
                            and culture to provide an optimal learning environment that truly aligns with active
                            learning.
                        </p>
                        <p>
                            Our 4 year olds will have the opportunity to use the STEAM classroom from 9-12 Monday,
                            Wed, Thursday. During this time students will follow SCOPE curriculum. This program is
                            also available to the public. The Village Childcare center will go in depth with the following:
                        </p>
                        <p>
                            <strong>Nature and Science:</strong> to comprehend the physical and natural world through observation, description, prediction,
                            and data gathering.
                        </p>
                        <p>
                            <strong>Early Math:</strong> Learning about numbers, patterns, sorting, and ordering; learning to utilize numbers to add,
                            subtract, measure, and graph.
                        </p>
                        <p>
                            <strong>Logic and Reasoning:</strong> Practicing sequencing, problem-solving, and critical thinking.
                        </p>
                    {% endif %}
                </section>
            </div>
        </div>
        <div class="row justify-content-md-center py-4">
            <div class="col-12 col-md-12">
                <form action="{% url 'subscribe' %}" method="post">
                    <div class="row justify-content-md-center">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="col-12 col-md-auto mt-3 mt-md-0">
                            <input id="name" name="name" class="form-control" placeholder="Jane Doe"/>
                        </div>
                        <div class="col-12 col-md-auto mt-3 mt-md-0">
                            <input id="email" name="email" class="form-control" placeholder="example@email.com"/>
                        </div>
                        <div class="col-12 col-md-auto mt-3 mt-md-0">
                            <button type="submit" class="btn">
                                Signup
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if user.is_staff %}
    <div class="container py-3">
        <form action="" method="get" class="form-floating">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">
                Edit
            </button>
        </form>
    </div>
    {% endif %}
</div>

{% endblock content %}
