{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div class="template-school-age">
    <div class="container py-5">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-auto mb-4">
                {% heading title=page.title default='School Age' %}
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-start pt-4">
            <div class="col-12 col-md-6">
                <section id="school" class="rte pb-3">
                    {% if page.content %}
                        {{ page.content | safe }}
                    {% else %}
                        <h3>
                            Before/After School Care
                        </h3>
                        <p>
                            We know it can be stressful to find care for your children before and after school care. We offer care with Kalamazoo bus transportation. While your children are with us during this time, they will have the opportunity to relax, do homework, play outside, and play in our S.T.E.A.M room classroom.
                        </p>
                        <p>
                            <strong>Note: </strong>If there is a bus cancellation, we are unable to bus your child&nbsp;to&nbsp;school.
                        </p>
                    {% endif %}
                </section>
            </div>
            <div class="col-12 col-md-6">
                <section id="school" class="rte">
                    {% if page.content_secondary %}
                        {{ page.content_secondary | safe }}
                    {% else %}
                        <h3>
                            Summer Camp + School Breaks
                        </h3>
                        <p>
                            This camp program is for elementary schoolers who are 5-12 years old. We guarantee your children will love spending their summers at the Village Childcare Center. We offer both onsite and offsite field trips. The spaces and activities are designed to be fun, engaging, and educational.
                        </p>
                        <p>
                            No matter the weather, we will be enjoying the outdoors.
                        </p>
                        <p>
                            <strong>Note: </strong>The Village Childcare Center follows the KPS school schedule.
                        </p>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
