{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load my_templatetags %}

{% block content %}

<div class="template-steam">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 mb-4">
                {% heading title=page.title default='Science. Technology. Engineering. Art. Mathematics.' %}
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-8 py-3">
                <div class="rte stema-edu">
                    {% if page.content %}
                        {{ page.content | safe }}
                    {% else %}
                    <img src="{% static 'img/steam.png'%}">
                    <h2>
                        <strong class="text-primary">STEAM</strong> <strong>EDUCATION</strong>
                    </h2>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 pb-2">
                <div class="text-center rte px-2">
                    {% if page.content_secondary%}
                        {{ page.content_secondary | safe }}
                    {% else %}
                        <p>
                            Our S.T.E.A.M. classroom is designed to allow children to use their imagination to explore
                            their creativity. Young children benefit from S.T.E.A.M. learning because they are generally
                            naturally inquisitive and want to explore and make sense of themselves and the environment in
                            which they live.
                        </p>
                        <p>
                            In this classroom we will have professionals come on site weekly to teach children science,
                            art, yoga, and music.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
