{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="welcome-body">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <h1 class="text-center py-3">
                    <strong>
                        <u>
                            Welcome to the Village 
                        </u>
                    </strong>
                </h1>
                <section id="philosophy">
                    <p class="fs-5">
                        The early childhood years are a very special time in your child's development. Great changes occur in this short 
                        period of time as children learn to communicate, increase their intellectual awareness and make great physical strides. 
                        <br>
                        <br>
                        At the Village Childcare Center, we use the Reggio Emilia approach to learning. This approach is a student-centered 
                        curriculum that uses self-directed, experiential learning in relationship-driven environments. This program is based on the 
                        principles of respect, responsibility and community learned through exploration, discovery and play. At the core of this 
                        philosophy is the assumption that children form their own personality during the early years of development and that they are 
                        endowed with "a hundred languages", through which they can express their ideas. The aim of the Reggio approach is to teach 
                        children how to use these symbolic languages, such as art, in everyday life. Using this philosophy ensures that no two classrooms 
                        will be the same. To implement this concept, our teachers will guide students to work on projects that emphasize the interest of 
                        the classroom rather than themes that do not benefit your child. 
                        <br>
                        <br>
                        Here at The Village, we choose to focus on each individuals' strengths rather than their weaknesses. Our childcare philosophy is to 
                        provide an age-appropriate environment that develops self-esteem, confidence, and love of learning. To create these conditions, we 
                        utilize our professionally educated staff and the materials to deliver an exceptional program to your child. Educationally, our goal 
                        is to foster a love of learning by integrating play and creativity into our curriculum. We challenge our students by promoting inquiry 
                        and encouraging discovery through exploring the world around them. This instills a sense of confidence in their ability to master new 
                        situations and tasks using their reasoning skills.
                        <br>
                        <br>
                        You know your child best. We encourage you to contact the school about any questions or concerns you might have.
                        We look forward to becoming a part of your child's community.
                    </p>
                </section>
            </div>
            <div class="col-md-4">
                <div class="accordion accordion-flush pt-5 position-sticky top-0" id="accordionGroup">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingMission">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMission" aria-expanded="false" aria-controls="collapseMission">
                                Our Mission
                            </button>
                        </h2>
                        <div id="collapseMission" class="accordion-collapse collapse" aria-labelledby="headingMission" data-bs-parent="#accordionMission"> 
                            <div class="accordion-body">
                                <p>
                                We are dedicated to giving children a love of learning in a safe and secure environment. 
                                Our teachers design their own lesson plans to help children learn and explore the world at their own pace. 
                                Our teachers are loving, nurturing, trained professionals committed to maintaining the highest quality in 
                                early childhood education. Through onsite training provided by the Director, our teachers receive ongoing 
                                training in order to learn the latest developments within the field of Early Childhood Education. 
                                </p>
                                <p>
                                    The Village is a safe, secure, clean and happy environment for children to grow and learn. 
                                Each child is treated as a unique individual. They are given individual attention within a group, allowing 
                                them to develop according to their own needs and rate of development. 
                                Our number one priority is providing every child with a loving and caring atmosphere encouraging the development 
                                of self-esteem, confidence, creativity and a love of learning.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item align-items-center justify-content-md-center">
                        <h3 class="accordion-header" id="headingRights">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRights" aria-expanded="false" aria-controls="collapseRights">
                                Children's Bill of Rights
                            </button>
                        </h3>
                        <div id="collapseRights" class="accordion-collapse collapse" aria-labelledby="headingRights" data-bs-parent="#accordionRights"> 
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        Every child in our program has the right to be respected as an individual with concern for his or her own interests, 
                                        handicaps, special talents, and individual style and pace of learning.  
                                    </li>
                                    <li>
                                        Every child has the right to a calm, warm, loving and nurturing environment where physical attention (hugs and cuddling) 
                                        is freely given so that a child feels valued and secure and thus able to develop positive self-esteem. 
                                    </li>
                                    <li>
                                        Every child has the right to personal attention, a relaxed atmosphere, and freedom of choices in their daily activities. 
                                    </li>
                                    <li>
                                        Every child has the right to have all physical needs met, including the need for rest and relaxation throughout the day. 
                                    </li>
                                    <li>
                                        Every child has the right to experience a variety of activities throughout the day that help them develop a feeling of 
                                        independence and confidence. 
                                    </li>
                                    <li>
                                        These activities provide opportunities for creativity, exploration, learning and development in language skills, gross 
                                        and fine motor skills, cognitive skills, social skills, and emotional/psychological development.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <div class="row justify-content-md-between py-4">
            <div class="col-md-8">
                <form action="{% url 'subscribe' %}" method="post">
                    <div class="row d-inline-flex justify-content-md-start">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="col-12 col-md-auto mt-3 mt-md-0">
                            <p class="pt-2">
                                Subscribe to our newsletter:
                            </p>
                        </div>
                        <br>
                        <div class="col-12 col-md-auto mt-3 mt-md-0">
                            <input id="name" name="name" class="form-control" placeholder="Jane Doe"/>
                        </div>
                        <div class="col-12 col-md-auto mt-3 mt-md-0">
                            <input id="email" name="email" class="form-control" placeholder="example@email.com"/>
                        </div>
                        <br>
                        <br>
                        <div class="col-12 col-md-auto mt-3 mt-md-0">
                            <button type="submit" class="btn">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
                <footer class="footer d-flex pt-3 justify-content-md-center">
                    <div class="mx-2">
                        <span class="text-muted">
                            <a href="#">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>

{% endblock content %}