{% autoescape off %}

<html>
<head>
    <title>
        Welcome to the Village!
    </title>
</head>
<body style="margin: 0; padding: 0; background-color: #fcefd5;">
    <h1 style="color: black; text-align:center;">
        Thank you for your request from the Village Childcare Center!
    </h1>
    <p style="color: black; text-align: center;">
        Your request has been received, and we will be in touch with you shortly.
    </p>
    <p style="color: black; text-align: center;">
        If you have any questions, please call us at 269-365-0808 or you can email our director at director@thevillageccc.com.
    </p>
    <p style="color: black; text-align: center;">
        We look forward to working with you and your child!
    </p>
    <p style="color: black; text-align: center;">
        Sincerely,
    </p>
    <p style="color: black; text-align: center;">
        The Village Childcare Center
    </p>
</body>
</html>



{% autoescape on %}
