{% comment %}
Simple Django HTML Email Template for Information Request
Will be sent to the user after submitting the form.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Information Request</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
                        <img src="https://web-production-b31d.up.railway.app/static/img/vcc-logo.png" alt="{{ site.name }}" width="300" height="230" style="display: block;" />
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                    <b>Information Request</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    <p>Thank you for your interest, {{ name }}! We will be in touch shortly.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="260" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        {% comment %} <td>
                                                            <img src="http://www.{{ site.domain }}/images/phone.png" alt="" width="40" height="40" style="display: block;" />
                                                        </td> {% endcomment %}
                                                        <td style="padding: 0 0 10px 10px;">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px;">
                                                                        <b>Phone</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px;">
                                                                        <a href="tel:5555555555" style="color: #153643;">555-555-5555</a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="font-size: 0; line-height: 0;" width="20">
                                                &nbsp;
                                            </td>
                                            <td width="260" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        {% comment %} <td>
                                                            <img src="http://www.{{ site.domain }}/images/email.png" alt="" width="40" height="40" style="display: block;" />
                                                        </td> {% endcomment %}
                                                        <td style="padding: 0 0 10px 10px;">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px;">
                                                                        <b>Email</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px;">
                                                                        <a href="mailto:{{ site.email }}" style="color: #153643;">{{ site.email }}</a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                                    &reg; {{ site.name }}, {{ site.address }}<br/>
                                    <a href="#" style="color: #ffffff;"><font color="#ffffff">Unsubscribe</font></a> to this newsletter instantly
                                </td>
                                <td align="right" width="25%">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                <a href="http://www.twitter.com/{{ site.twitter }}" style="color: #ffffff;">
                                                    <img src="http://www.{{ site.domain }}/images/tw.gif" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
                                                </a>
                                            </td>
                                            <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                            <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                <a href="http://www.facebook.com/{{ site.facebook }}" style="color: #ffffff;">
                                                    <img src="http://www.{{ site.domain }}/images/fb.gif" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
